<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Nama Aplikasi</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/pricing.css') }}">
</head>
<body>
   <div class="container">
      <center class="pt-4 pb-4">
         <a href="/" class="float-left" style="margin-right: -70px;">
            <button type="button" class="btn btn-danger btn-sm">Kembali</button>
         </a>
         <h4>Bahan tanaman untuk {{ container[0]['olahan_nama'] }}</h4>
         <hr>
         <h5>Berikut bahan tanaman yang dibutuhkan</h5>
      </center>
      <div class="card-deck mb-3 text-center">
         {% for row in container %}
         <div class="card mb-4 box-shadow">
            <div class="card-header">
               <h5 class="my-0 font-weight-normal">{{ row['tanaman_nama'] }}</h5>
            </div>
            <div class="card-body">
               <img src="{{ url_for('static', filename='image/tanaman/' + row['tanaman_gambar']) }}" width="100%">
               <a href="/olahan/{{ row['tanaman_id'] }}">
                  <button type="button" class="btn btn-sm btn-block btn-primary">Lihat Olahan</button>
               </a>
            </div>
         </div>
         {% endfor %}
      </div>
    </div>
</body>
</html>